/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

header, footer {
	width: 100%;
	height: 50px;
	position: fixed;
    background-color: #606060;
}
header {
	top: 0;
	left: 0;
	z-index: 1001;
}
footer {
	bottom: 0;
	left: 0;
	z-index: 1001;
}

body {
   background-color: white;
}

.loginBody {
	background-color: #353d40;
	background:  url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bodyDiv {
	width: 100%;
	height: 100%;
}
.container {
	width: 1200px;
	height: 100%;
    /*	border: 2px solid red;*/
    margin: 0 auto;
    padding: 0;
}
.regestration  {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	text-align: center;
}
.loginForm,
.registerForm,
.IForgot {
	position: static;
	width: 360px;
	padding: 20px;
	margin: 0 auto;
	border-radius: 5px;
	text-align: center;
	padding: 20px 0 0 0;
}
.registerForm {
	height: 270px;
}
.loginForm input,
.registerForm input,
.IForgot input,
.IForgot button {
	width: 100%;
	height: 30px;
	margin-top: 15px;
	outline: none;
	font-size: 18px;
	padding: 5px;
	background: transparent;
	border: 1px solid #ff9c00;
	color: white;
	border-radius: 4px;
    -webkit-box-sizing: content-box;
}

::-webkit-input-placeholder {
 color: #ADADAD;
}

:-moz-placeholder { /* Firefox 18- */
 color: #ADADAD;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #ADADAD;
}

:-ms-input-placeholder {
 color: #ADADAD;
}
.IForgot input[type=submit] {
    float: right;
    width: 40%;
    margin-right: -12px;
}
.IForgot button.btn {
    float: left;
    width: 40%;
}
.regestration .entry {
    font-size: 18px;
    display: inline-block;
    color: white;
    font-family: "OpenSansRegular";
}
.regestration .orange-text {
	color: #ff9800;
	margin-right: 10px;
}
.regestration .entry, main .orange-text  {
    margin-top: 30px;
}
.bottom-text,
.bottom-text-underline {
    color: #fff;
    font-family: "OpenSansSemiBold";
    display: block;
}
.loginForm a,
.registerForm a {
	text-decoration: none;
    padding: 7px 14px;
    background: #42a5f5;
    float: right;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 4px;
}
.loginForm span.IForgot {
    display: inline;
    float: none;
    color: #ff9c00;
    background: transparent;
    font-size: 14px;
    padding: 0;
    cursor: pointer;
}
.regestration .site-logo img {
	width: 100%;
}
.loginForm div {
    margin-top: 10px;
}
.bottom-text {
    margin-top: -15px;
}
.loginForm .bottom-text-underline {
	margin-top: 0;
    display: inline;
    float: none;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}
.loginForm a:hover,
.registerForm a:hover,
.loginForm span.IForgot:hover {
	text-decoration: underline;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
form .btn {
	width: 200px;
	height: 40px;
    background: transparent;
    font-weight: bold;
    font-size: 20px;
    color: #ff9c00;
    cursor: pointer;
    padding: 0;
}
.btn:hover {
	background-color: rgba(255, 255, 255, 1);
}
.content {
	width: 100%;
	height: 100%;
	padding: 180px 0 0 0;
	margin: 0 auto;
	background-color: white;
	position: relative;
}
.upperMenu,
.tabs {
	list-style: none;
    /*	border: 2px solid red;*/
}
.tabs {
	padding: 10px;
	width: 100%;
	display: block;
	margin: 0 auto;
}
.upperMenu li,
.tabs li {
	float: left;
}
.tabs li {
	width: 16.66%;
	height: 250px;
	cursor: pointer;
	box-sizing: border-box;
	padding: 10px;
}
.newIdea, .selectedIdea {
	position: fixed;
    min-width: 60vw;
    max-width: 85vw;
    min-height: 50px;
    max-height: 85vh;
    left: 50%;
    top: 50%;
    z-index: 20100;
    background-color: #ebebeb;
    padding: 0;
    transform: translate(-50%, -50%	);
    background: #999;
}
.newIdea .box, .selectedIdea .box {
    padding: 0 20px;
}
.newIdea .box > * {
    margin: 10px 0;
    display: block;
    width: 100%;
    resize: none;
    background: #D9D9D9;
}
.selectedIdea {
	background-color: #ebebeb;
}
.selectedIdea .box > *{
	display: block;
	width: 100%;
	margin: 0;
	background: #eee;
	resize: none;
	border: 0;
	padding: 5px;
    margin: 10px 0;
}
.newIdea div:first-child {
    margin: 0;
}
.newIdea span {
    color: #ff9c00;
}
.newIdea .modalBtnBox {
    background: #999;
}
.modalBtn {
    float: right;
    height: 25px;
    width: 80px;
    margin: 0 0 0 10px;
    background: #999;
}
.modalBtn p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
input.modalBtn {
    background: #999;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color: #ff9c00;
    box-shadow: none;
    border: none;
}
.newIdeaHeader,
.selectedIdeaHeader {
	background-color: white;
    margin-bottom: 20px;
}
.newIdeaHeader h2,
.selectedIdeaHeader h2{
	float: left;
	display: block;
	width: 80%;
	margin: 0;
    padding: 10px;
}
.newIdeaHeader div,
.selectedIdeaHeader div {
	float: right;
    margin: 10px;
    background: none;
    outline: none;
    font-size: 30px;
    height: 33px;
    width: 30px;
    cursor: pointer;
    -webkit-appearance: none;
}
.selectedIdeaHeader div::before,
.selectedIdeaHeader div::after,
.newIdeaHeader div::before,
.newIdeaHeader div::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 12px;
    width: 27px;
    height: 5px;
    background-color: black;
    border-radius: 1px;
}
.newIdeaHeader div::before,
.selectedIdeaHeader div::before {
  transform: rotate(45deg);
}

.newIdeaHeader div::after,
.selectedIdeaHeader div::after {
  transform: rotate(-45deg);
}
.shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 20000;
}
.adminPanel {
	width: 100%;
	min-height: 100px;
	background-color: lightgrey;
}
.adminPanel table {
	border-collapse: collapse;
	width: 100%;
	background-color: white;
	border: 1px solid black;
}
.adminPanel table tr,
.adminPanel table td,
.adminPanel table th {
	border: 1px solid black;
	text-align: center;
}

.content {
    width: 100%;
}
.search {
   /* position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);*/
    max-width: 1200px;
    height: 80px;
    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom: 2px solid #ff9c00;
    position: relative;
    background: white;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
    margin: 0 auto;
}
.search .add-idea {
    border: 1px solid black;
    border: 0;
    background: none;
    display: block;
    margin: 0;
}
.search .add-idea img{
	height: 100%;
	width: auto;
}
.search .search-idea {
    width: 70%;
    padding: 10px;
    border-radius: 0;
    background: #D9D9D9;
    /*   position: absolute;*/
    font-size: 16px;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    border: 0;
    margin: 10px 0;
    color: #000000 !important;
}
.content .search a{

}
.content .ideas {
    width: 100%
}
.ideas-switcher {
    max-width: 1200px;
    margin: 0 auto;
}
.ideas-switcher .all-ideas {
    width: 50%;
    right: 20px;
    float: left;
    border-radius: 0;
    background: white;
    color: #000;
    height: 100%;
    border: 0;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    -webkit-appearance: none;
}
.ideas-switcher .all-ideas.active {
    background: #ff9c00;
    pointer-events: none;
}
.ideas .ideas-switcher .all-ideas:hover {
    background: #FFDAA3;
}
.ideas-switcher .my-ideas {
    width: 50%;
    right: 20px;
    float: right;
    border-radius: 0;
    background: white;
    color: #000;
    height: 100%;
    border: 0;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
.ideas-switcher .my-ideas:hover {
    background: #FFDAA3;
}
.ideas-switcher .my-ideas.active {
    background: #ff9c00;
    pointer-events: none;
}
.content .ideas .wrapper {
    width: 1200px;
    display: block;
    margin: 0 auto
}
.content .ideas .wrapper ul {
    width: 100%
}
.content .ideas .wrapper ul li {
    box-sizing: border-box;
    height: 400px;
    width: 16%;
    margin-bottom: 40px;
    padding: 15px
}
.content .ideas .wrapper ul li .viewout {
    height: 150px;
    width: 100%;
    position: relative;
    border: 0
}
.content .ideas .wrapper ul li .viewout img {
    width: 100%;
    height: 100%
}
.content .ideas .wrapper ul li .viewout .fitback {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px
}
.content .ideas .wrapper ul li .viewout .fitback .likes {
    position: absolute;
    width: 50%;
    left: 15px
}
.content .ideas .wrapper ul li .viewout .fitback .likes p,
.content .ideas .wrapper ul li .viewout .fitback .likes img {
    display: inline-block;
    color: green;
    margin: 0 0 -5px 5px
}
.content .ideas .wrapper ul li .viewout .fitback .likes img {
    height: 20px;
    width: 20px
}
.content .ideas .wrapper ul li .viewout .fitback .dislikes {
    position: absolute;
    right: 15px
}
.content .ideas .wrapper ul li .viewout .fitback .dislikes p, .content .ideas .wrapper ul li .viewout .fitback .dislikes img {
    display: inline-block;
    color: red;
    margin: 0 0 -5px 5px
}
.content .ideas .wrapper ul li .viewout .fitback .dislikes img {
    height: 20px;
    width: 20px
}
.content .ideas .wrapper ul li .top-entry, .content .ideas .wrapper ul li .description {
    font-family: "OpenSansBold";
    width: 100%;
    font-size: 18px;
    padding: 0 10px
}
.content .ideas .wrapper ul li .description {
    font-family: "OpenSansRegular";
    font-size: 12px;
    color: #555
}


.tabs li .viewout {
    height: 150px;
    width: 100%;
    position: relative;
    border: 0
}
.tabs li .viewout img {
    width: 100%;
    height: 100%
}
.tabs li .viewout .fitback {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px
}
.tabs li .viewout .fitback .likes {
    position: absolute;
    width: 50%;
    left: 15px
}
.tabs li .viewout .fitback .likes p,
.tabs li .viewout .fitback .likes img {
    display: inline-block;
    color: green;
    margin: 0 0 -5px 5px
}
.tabs li .viewout .fitback .likes img {
    height: 15px;
    width: 15px;
    margin-bottom: 2px;
}
.tabs li .viewout .fitback .dislikes {
    position: absolute;
    right: 15px;
}
.tabs li .viewout .fitback .dislikes p,
.tabs li .viewout .fitback .dislikes img {
    display: inline-block;
    color: red;
    margin: 0 0 -5px 5px;
}
.tabs li .viewout .fitback .dislikes img {
    height: 15px;
    width: 15px;
}
.tabs li .top-entry,
.tabs li .description {
    font-family: "OpenSansBold";
    height: 24px;
    width: 100%;
    font-size: 18px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabs li .description {
    font-family: "OpenSansRegular";
    font-size: 12px;
    color: #555;
    height: 18px;
}
.loginForm .registerBtn {
    display: inline;
    float: right;
    background: transparent;
    color: #ff9c00;
    text-decoration: none;
    padding: 0;
    margin-bottom: 10px;
}
.loginForm p:first-child,
.IForgot p:first-child,
.IForgot p:nth-child(2) {
    position: relative;
    display: inline;
    float: left;
    color: #ADADAD;
    font-size: 20px;
    margin: 0 0 10px 0;
}
.IForgot p:nth-child(2) {
    float: right;
    margin-left: -12px;
}
.IForgot .info {
    color: white;
    margin-top: 25px;
    font-size: 16px;
    font-family: "OpenSansRegular";
}
.loginForm p:first-child::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height:0;
    border: 10px solid transparent;
    border-bottom-color: #ff9c00;  
    border-top: 0;
    left: 15px;
    top: 30px;    
}
.registerForm .loginBtn {
    display: inline;
    float: left;
    background: transparent;
    color: #ff9c00;
    text-decoration: none;
    padding: 0;
    margin-bottom: 10px;
}
.registerForm p {
    position: relative;
    display: inline;
    float: right;
    color: #ADADAD;
    font-size: 20px;
    margin: 0 0 10px 0;
}
.registerForm p::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height:0;
    border: 10px solid transparent;
    border-bottom-color: #ff9c00;  
    border-top: 0;
    left: 40px;
    top: 30px;    
}
.moreIdeasBtn {
    width: 100%;
    background: #ADADAD;
    font-size: 20px;
}
.selectedIdea .ideaTags {
    display: inline;
    float: left;
}
.selectedIdea .likes {
    float: left;
    cursor: pointer;
}
.selectedIdea .dislikes {
    float: right;
    cursor: pointer;
}
.selectedIdea .dislikes,
.selectedIdea .likes {
    text-decoration: none;
}
.ideaImages {
    list-style: none;
}
.ideaImages img {
    display: block;
    float: left;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin-right: 5px;
}
button.logOut {
    float: right;
    width: 100px;
    height: 65%;
    margin: 10px 20px;
    font-weight: bold;
}
.registerForm span {
    color: red;
    font-size: 16px;
    margin-bottom: 0px;
}
img#delete {
    float: right;
    padding: 0;
    margin: 10px;
    background: none;
    height: 33px;
    width: 30px;
    cursor: pointer;
}
#BtnForEnter {
    position: fixed;
    top: 20px;
    left: 20px;
    background: lightblue;
    z-index: 10000000000000000;
}
.search a img:hover {
    background-color: #FFDAA3;
    border-radius: 5px;
}
.mainLogo {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    padding: 0;
    margin: 0;
    z-index: 10000;
    background: white;
    padding-top: 10px;

}
.mainLogo img {
    z-index: 11000;
    height: 50px;
    background: white;
    position: relative;      
}
.mainLogo::after {
    position: absolute;
    top: 58.6px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    color: #ff9c00;
    background: #ff9c00;
    z-index: 10500;
}
.userPageContent {
    padding-top: 10px;
}
.likes img:hover,
.dislikes img:hover {
   transform: scale(2);
}


@media (max-width: 1200px) {
    .container {
        width: 900px;
    }
    .tabs {
        width: 900px;
    }
    .tabs li {
        width: 20%;
    }
}
@media (max-width: 900px) {
    .container {
        width: 600px;
    }
    .tabs {
        width: 600px;
    }
    .tabs li {
        width: 33.33%;
    }
    .mainLogo .search .search-idea {
        width: 75%;
    }
    .newIdea, .selectedIdea {
        width: 85vw;
 }
}
@media (max-width: 600px) {
    .container {
        width: 400px;
    }
    .tabs {
        width: 290px;
    }
    .content .search {
        padding: 20px;
        box-sizing: border-box;
        height: auto;
    }
    .mainLogo .search .add-idea, .content .search .search-idea {
        transform: none;
        position: static;
        float: none;
        width: 100%;
    }
    .mainLogo .search .add-idea {
        margin-bottom: 20px;
    }
    .tabs li {
        width: 100%;
    }
    .loginForm, .registerForm{
        width: 100%;
    }
    .regestration {
        width: 90%;
    }
    .newIdea, .selectedIdea {
     width: 90vw;
 }
}
