/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

header, footer {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #606060;
}
header {
    top: 0;
    left: 0;
    z-index: 1001;
}
footer {
    bottom: 0;
    left: 0;
    z-index: 1001;
}

body {
    background-color: white;
}

.loginBody {
    background-color: #353d40;
    background:  url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}
.bodyDiv {
    width: 100%;
    height: 100%;
}
.container {
    width: 1200px;
    height: 100%;
    /*  border: 2px solid red;*/
    margin: 0 auto;
    padding: 0;
}
.regestration  {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
}
.loginForm,
.registerForm,
.IForgot {
    position: static;
    width: 360px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0 0 0;
}
.registerForm {
    height: 270px;
}
.loginForm input,
.registerForm input,
.IForgot input,
.IForgot button {
    width: 100%;
    height: 30px;
    margin-top: 15px;
    outline: none;
    font-size: 18px;
    padding: 5px;
    background: transparent;
    border: 1px solid #ff9c00;
    color: white;
    border-radius: 4px;
    -webkit-box-sizing: content-box;
}

::-webkit-input-placeholder {
    color: #ADADAD;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ADADAD;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ADADAD;
}

:-ms-input-placeholder {
    color: #ADADAD;
}
.IForgot input[type=submit] {
    float: right;
    width: 40%;
    margin-right: -12px;
}
.IForgot button.btn {
    float: left;
    width: 40%;
}
.regestration .entry {
    font-size: 18px;
    display: inline-block;
    color: white;
    font-family: "OpenSansRegular";
}
.regestration .orange-text {
    color: #ff9800;
    margin-right: 10px;
}
.regestration .entry, main .orange-text  {
    margin-top: 30px;
}
.bottom-text,
.bottom-text-underline {
    color: #fff;
    font-family: "OpenSansSemiBold";
    display: block;
}
.loginForm a,
.registerForm a {
    text-decoration: none;
    padding: 7px 14px;
    background: #42a5f5;
    float: right;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 4px;
}
.loginForm span.IForgot {
    display: inline;
    float: none;
    color: #ff9c00;
    background: transparent;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
}
.regestration .site-logo img {
    width: 100%;
}
.loginForm div {
    margin-top: 10px;
}
.bottom-text {
    margin-top: -15px;
}
.loginForm .bottom-text-underline {
    margin-top: 0;
    display: inline;
    float: none;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}
.loginForm a:hover,
.registerForm a:hover,
.loginForm span.IForgot:hover {
    text-decoration: underline;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
form .btn {
    width: 200px;
    height: 40px;
    background: transparent;
    font-weight: bold;
    font-size: 20px;
    color: #ff9c00;
    cursor: pointer;
    padding: 0;
}
.btn:hover {
    background-color: rgba(255, 255, 255, 1);
}
.content {
    width: 100%;
    height: 100%;
    padding: 160px 0 0 0;
    margin: 0 auto;
    background-color: white;
    position: relative;
}
.upperMenu,
.tabs {
    list-style: none;
    /*  border: 2px solid red;*/
}
.tabs {
    padding: 10px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.upperMenu li,
.tabs li {
    float: left;
}
.tabs li {
    width: 16.66%;
    height: 250px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
}
.newIdea, .selectedIdea {
    overflow: auto;
    position: fixed;
    min-width: 60vw;
    max-width: 85vw;
    min-height: 50px;
    max-height: 85vh;
    left: 50%;
    top: 50%;
    z-index: 20100;
    background-color: #ebebeb;
    padding: 0;
    -webkit-transform: translate(-50%, -50% );
            transform: translate(-50%, -50% );
    background: #ebebeb;
}
.newIdea .box, .selectedIdea .box {
    padding: 0 20px;
}
.newIdea .box > * {
    margin: 10px 0;
    /*display: block;*/
    width: 100%;
    resize: none;
    outline: transparent;
}
.newIdea .box input[type="text"]:hover,
.newIdea .box textarea:hover,
.newIdea .box input[type="text"]:focus,
.newIdea .box textarea:focus {
    outline: 0.5px solid #ff9c00;
}
.selectedIdea {
    background-color: #ebebeb;
}
.selectedIdea .box > *{
    display: block;
    width: 100%;
    margin: 0;
    background: #eee;
    resize: none;
    border: 0;
    padding: 5px;
    margin: 10px 0;
}
.newIdea div:first-child {
    margin: 0;
}
.newIdea span {
    color: #ff9c00;
}

.modalBtn {
    float: right;
    overflow: auto;
    margin: 0 0 0 10px;
    background: #999;
}
.modalBtn p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
input.modalBtn {
    background: #999;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color: #ff9c00;
    box-shadow: none;
    border: none;
}
.newIdeaHeader,
.selectedIdeaHeader {
    background-color: white;
    margin-bottom: 20px;
}
.newIdeaHeader h2,
.selectedIdeaHeader h2{
    float: left;
    display: block;
    width: 80%;
    margin: 0;
    padding: 10px;
}
.newIdeaHeader div,
.selectedIdeaHeader div {
    float: right;
    margin: 10px;
    background: none;
    outline: none;
    font-size: 30px;
    height: 33px;
    width: 30px;
    cursor: pointer;
    -webkit-appearance: none;
}
.selectedIdeaHeader div::before,
.selectedIdeaHeader div::after,
.newIdeaHeader div::before,
.newIdeaHeader div::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 12px;
    width: 27px;
    height: 5px;
    background-color: black;
    border-radius: 1px;
}
.newIdeaHeader div::before,
.selectedIdeaHeader div::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.newIdeaHeader div::after,
.selectedIdeaHeader div::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20000;
}
.adminPanel {
    width: 100%;
    min-height: 100px;
    background-color: lightgrey;
}
.adminPanel table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    border: 1px solid black;
}
.adminPanel table tr,
.adminPanel table td,
.adminPanel table th {
    border: 1px solid black;
    text-align: center;
}

.content {
    width: 100%;
}
.search {
/* position: fixed;
top: 60px;
left: 50%;
transform: translateX(-50%);*/
max-width: 1200px;
overflow: auto;
box-sizing: border-box;
padding: 10px 20px;
border-bottom: 2px solid #ff9c00;
position: relative;
background: white;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
z-index: 10000;
margin: 0 auto;
}
.search .left-bar {
    position: relative;
    float: left;
    width: 80%;
}
.search .right-bar {
    position: relative;
    float: right;
    width: 220px;
}
.search .left-bar .add-idea {
    border: 1px solid black;
    float: left;
    border: 0;
    background: none;
    display: block;
    margin: 0;
}
.search .left-bar .add-idea img{
    width: auto;
}
.search .left-bar .search-idea {
    width: 90%;
    float: initial;
    padding: 10px;
    border-radius: 0;
    background: #D9D9D9;
    /*   position: absolute;*/
    font-size: 16px;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    border: 0;
    margin: 5px 0;
    color: #000000 !important;
}

.search .right-bar button.logOut {
    float: right;
    width: 100px;
    height: 65%;
    margin: 10px 20px;
    font-weight: bold;
    background: #ff9c00;
    border: 0;
}

.content .search a{

}
.content .ideas {
    width: 100%
}
.ideas-switcher {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
.ideas-switcher .all-ideas {
    width: 50%;
    right: 20px;
    float: left;
    border-radius: 0;
    background: white;
    color: #000;
    height: 100%;
    border: 0;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    -webkit-appearance: none;
}
.ideas-switcher .all-ideas.active {
    background: #ff9c00;
    pointer-events: none;
}
.ideas .ideas-switcher .all-ideas:hover {
    background: #FFDAA3;
}
.ideas-switcher .my-ideas {
    width: 50%;
    right: 20px;
    float: right;
    border-radius: 0;
    background: white;
    color: #000;
    height: 100%;
    border: 0;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
.ideas-switcher .my-ideas:hover {
    background: #FFDAA3;
}
.ideas-switcher .my-ideas.active {
    background: #ff9c00;
    pointer-events: none;
}
.content .ideas .wrapper {
    width: 1200px;
    display: block;
    margin: 0 auto
}
.content .ideas .wrapper ul {
    width: 100%
}
.content .ideas .wrapper ul li {
    box-sizing: border-box;
    height: 400px;
    width: 16%;
    margin-bottom: 40px;
    padding: 15px
}
.content .ideas .wrapper ul li .viewout {
    height: 150px;
    width: 100%;
    position: relative;
    border: 0
}
.content .ideas .wrapper ul li .viewout img {
    width: 100%;
    height: 100%
}
.content .ideas .wrapper ul li .viewout .fitback {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px
}
.content .ideas .wrapper ul li .viewout .fitback .likes {
    position: absolute;
    width: 50%;
    left: 15px
}
.content .ideas .wrapper ul li .viewout .fitback .likes p,
.content .ideas .wrapper ul li .viewout .fitback .likes img {
    display: inline-block;
    color: green;
    margin: 0 0 -5px 5px
}
.content .ideas .wrapper ul li .viewout .fitback .likes img {
    height: 20px;
    width: 20px
}
.content .ideas .wrapper ul li .viewout .fitback .dislikes {
    position: absolute;
    right: 15px
}
.content .ideas .wrapper ul li .viewout .fitback .dislikes p, .content .ideas .wrapper ul li .viewout .fitback .dislikes img {
    display: inline-block;
    color: red;
    margin: 0 0 -5px 5px
}
.content .ideas .wrapper ul li .viewout .fitback .dislikes img {
    height: 20px;
    width: 20px
}
.content .ideas .wrapper ul li .top-entry, .content .ideas .wrapper ul li .description {
    font-family: "OpenSansBold";
    width: 100%;
    font-size: 18px;
    padding: 0 10px
}
.content .ideas .wrapper ul li .description {
    font-family: "OpenSansRegular";
    font-size: 12px;
    color: #555
}


.tabs li .viewout {
    height: 150px;
    width: 100%;
    position: relative;
    border: 0
}
.tabs li .viewout img {
    width: 100%;
    height: 100%
}
.tabs li .viewout .fitback {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px
}
.tabs li .viewout .fitback .likes {
    position: absolute;
    width: 50%;
    left: 15px
}
.tabs li .viewout .fitback .likes p,
.tabs li .viewout .fitback .likes span {
    display: inline-block;
 /*   color: black;*/
    margin: 0 0 -5px 5px
}
.tabs li .viewout .fitback .likes span {
    height: 20px;
    width: 20px;
    font-size: 20px;
    position: relative;
}
.tabs li .viewout .fitback .likes span::after {
    content: "I like it";
    position: absolute;
    width: 60px;
    height: 20px;
    color: black;
    background: #D9D9D9;
    border-radius: 2px;
    padding-left: 7px;
    display: none;
    top: -25px;
    left: -15px;
    font-size: 16px;
    word-spacing: -12px;
}
.tabs li .viewout .fitback .likes span:hover::after {
    display: block;
}
/*.tabs li .viewout .fitback .likes span:hover {
    color: #ff9c00 !important;
}*/
.tabs li .viewout .fitback .dislikes {
    position: absolute;
    right: 15px;
}
.tabs li .viewout .fitback .dislikes p,
.tabs li .viewout .fitback .dislikes span {
    display: inline-block;
  /*  color: black;*/
    margin: 0 0 -5px 5px;
}
.tabs li .viewout .fitback .dislikes span {
    height: 20px;
    width: 20px;
    font-size: 20px;
    position: relative;
}
.tabs li .viewout .fitback .dislikes span::after {
    content: "Don't like it";
    position: absolute;
    width: 90px;
    height: 20px;
    color: black;
    background: #D9D9D9;
    border-radius: 2px;
    padding-left: 7px;
    display: none;
    top: -25px;
    left: -30px;
    font-size: 16px;
    word-spacing: -12px;
}
.tabs li .viewout .fitback .dislikes span:hover::after {
    display: block;
}
/*.tabs li .viewout .fitback .dislikes span:hover {
    color: #ff9c00 !important;
}*/
.tabs li .top-entry,
.tabs li .description {
    font-family: "OpenSansBold";
    height: 24px;
    width: 100%;
    font-size: 18px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabs li .description {
    font-family: "OpenSansRegular";
    font-size: 12px;
    color: #555;
    height: 18px;
}
.loginForm .registerBtn {
    display: inline;
    float: right;
    background: transparent;
    color: #ff9c00;
    text-decoration: none;
    padding: 0;
    margin-bottom: 10px;
}
.loginForm p:first-child,
.IForgot p:first-child,
.IForgot p:nth-child(2) {
    position: relative;
    display: inline;
    float: left;
    color: #ADADAD;
    font-size: 20px;
    margin: 0 0 10px 0;
}
.IForgot p:nth-child(2) {
    float: right;
    margin-left: -12px;
}
.IForgot .info {
    color: white;
    margin-top: 25px;
    font-size: 16px;
    font-family: "OpenSansRegular";
}
.loginForm p:first-child::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height:0;
    border: 10px solid transparent;
    border-bottom-color: #ff9c00;
    border-top: 0;
    left: 15px;
    top: 30px;
}
.registerForm .loginBtn {
    display: inline;
    float: left;
    background: transparent;
    color: #ff9c00;
    text-decoration: none;
    padding: 0;
    margin-bottom: 10px;
}
.registerForm p {
    position: relative;
    display: inline;
    float: right;
    color: #ADADAD;
    font-size: 20px;
    margin: 0 0 10px 0;
}
.registerForm p::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height:0;
    border: 10px solid transparent;
    border-bottom-color: #ff9c00;
    border-top: 0;
    left: 40px;
    top: 30px;
}
.moreIdeasBtn {
    width: 100%;
    background: #ADADAD;
    font-size: 20px;
}
.selectedIdea .ideaTags {
    display: inline;
    float: left;
}
.selectedIdea .likes {
    float: left;
    cursor: pointer;
}
.selectedIdea .dislikes {
    float: right;
    cursor: pointer;
}
.selectedIdea .dislikes,
.selectedIdea .likes {
    text-decoration: none;
}
.ideaImages {
    list-style: none;
}
.ideaImages img {
    display: block;
    float: left;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin-right: 5px;
}

.registerForm span,
.IForgot span {
    color: red;
    font-size: 16px;
    margin-bottom: 0px;
}
img#delete {
    float: right;
    padding: 0;
    margin: 10px;
    background: none;
    height: 33px;
    width: 30px;
    cursor: pointer;
}
#BtnForEnter {
    position: fixed;
    top: 20px;
    left: 20px;
    background: lightblue;
    z-index: 10000000000000000;
}
.search a img:hover {
    background-color: #FFDAA3;
    border-radius: 5px;
}
.mainLogo {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    padding: 0;
    margin: 0;
    z-index: 10000;
    background: white;
    padding-top: 10px;

}
.mainLogo img {
    z-index: 11000;
    height: 50px;
    background: white;
    position: relative;
}
.mainLogo::after {
    position: absolute;
    top: 58.6px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    color: #ff9c00;
    background: #ff9c00;
    z-index: 10500;
}
.userPageContent {
    padding-top: 10px;
}
.likes img:hover,
.dislikes img:hover {
    -webkit-transform: scale(2);
            transform: scale(2);
}
.modalBtnBox .modalBtn, .box input {
    padding: 5px 15px;
}
.text404 {
    width: 50%;
    margin: 0;
    height: 100%;
    text-align: center;
    margin: 50px;
}
.text404 p,
.text404 h1 {
    color: #ff9c00;
    font-size: 20px;
    margin-bottom: 50px;
}
.text404 h1 {
    font-size: 148px;
    margin-bottom: 100px;
}
.text404 img {
    width: 100%;
}
.img404 {
    width: 50%;
    margin: 0;
    height: 100%;
}
.body404 {
    display: flex;
    -webkit-flex-wrap: nowrap; /* Safari */
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

input[type=file] {
    padding: 15px 0;
}
#cssload-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    overflow: hidden;
}

.cssload-loader {
    width: 146px;
    height: 146px;
    border: 2px rgb(255,255,255) solid;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -73px 0 0 -73px;
    border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
}

.cssload-loader .cssload-loading {
    font-size: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 14px;
    font-family: 'Century Gothic', sans-serif;
    font-style: italic;
    left: 0;
    top: 50%;
    margin-top: 19px;
    color: rgb(255,255,255);
    font-weight: bold;
    text-transform: uppercase;
        -o-text-transform: uppercase;
        -ms-text-transform: uppercase;
        -webkit-text-transform: uppercase;
        -moz-text-transform: uppercase;
}

.cssload-loader-circle-1 {
    width: 135px;
    height: 135px;
    left: 5px;
    top: 5px;
    border: 1px rgb(255,156,0) solid;
    position: absolute;
    border-right-color: transparent;
    border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    animation: spin 3.45s linear infinite;
        -o-animation: spin 3.45s linear infinite;
        -ms-animation: spin 3.45s linear infinite;
        -webkit-animation: spin 3.45s linear infinite;
        -moz-animation: spin 3.45s linear infinite;
}

.cssload-loader-circle-2 {
    width: 123px;
    height: 123px;
    left: 5px;
    top: 5px;
    border: 1px transparent solid;
    position: absolute;
    border-right-color: rgb(255,255,255);
    border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    animation: spin 5.75s linear infinite;
        -o-animation: spin 5.75s linear infinite;
        -ms-animation: spin 5.75s linear infinite;
        -webkit-animation: spin 5.75s linear infinite;
        -moz-animation: spin 5.75s linear infinite;
}

.cssload-loader .cssload-line {
    width: 10px;
    height: 2px;
    background: rgb(255,255,255);
    position: absolute;
}

.cssload-loader .cssload-line:nth-child(1) {
    left: 16px;
    top: 50%;
    margin-top: -1px;
}

.cssload-loader .cssload-line:nth-child(2) {
    transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
    left: 32px;
    top: 32px;
}

.cssload-loader .cssload-line:nth-child(3) {
    top: 16px;
    left: 50%;
    width: 2px;
    height: 10px;
}

.cssload-loader .cssload-line:nth-child(4) {
    transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
    right: 32px;
    top: 32px;
}

.cssload-loader .cssload-line:nth-child(5) {
    right: 16px;
    top: 50%;
    margin-top: -1px;
}

.cssload-loader .cssload-line:nth-child(6) {
    transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
    right: 32px;
    bottom: 32px;
    background: rgb(255,156,18);
}

.cssload-loader .cssload-subline {
    position: absolute;
    width: 3px;
    height: 2px;
    background: rgb(255,255,255);
}

.cssload-loader .cssload-subline:nth-child(7) {
    transform: rotate(22.5deg);
        -o-transform: rotate(22.5deg);
        -ms-transform: rotate(22.5deg);
        -webkit-transform: rotate(22.5deg);
        -moz-transform: rotate(22.5deg);
    left: 20px;
    top: 49px;
}

.cssload-loader .cssload-subline:nth-child(8) {
    transform: rotate(67.5deg);
        -o-transform: rotate(67.5deg);
        -ms-transform: rotate(67.5deg);
        -webkit-transform: rotate(67.5deg);
        -moz-transform: rotate(67.5deg);
    left: 49px;
    top: 20px;
}

.cssload-loader .cssload-subline:nth-child(9) {
    transform: rotate(112.5deg);
        -o-transform: rotate(112.5deg);
        -ms-transform: rotate(112.5deg);
        -webkit-transform: rotate(112.5deg);
        -moz-transform: rotate(112.5deg);
    right: 49px;
    top: 20px;
}

.cssload-loader .cssload-subline:nth-child(10) {
    transform: rotate(157.5deg);
        -o-transform: rotate(157.5deg);
        -ms-transform: rotate(157.5deg);
        -webkit-transform: rotate(157.5deg);
        -moz-transform: rotate(157.5deg);
    right: 20px;
    top: 49px;
}

.cssload-loader .cssload-subline:nth-child(11) {
    transform: rotate(22.5deg);
        -o-transform: rotate(22.5deg);
        -ms-transform: rotate(22.5deg);
        -webkit-transform: rotate(22.5deg);
        -moz-transform: rotate(22.5deg);
    right: 19px;
    bottom: 48px;
    background: rgb(255,156,0);
}

.cssload-loader .cssload-needle {
    width: 14px;
    height: 14px;
    border: 1px rgb(255,255,255) solid;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -8px;
    z-index: 1;
    border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    animation: pegIt 3.45s infinite ease-in-out;
        -o-animation: pegIt 3.45s infinite ease-in-out;
        -ms-animation: pegIt 3.45s infinite ease-in-out;
        -webkit-animation: pegIt 3.45s infinite ease-in-out;
        -moz-animation: pegIt 3.45s infinite ease-in-out;
}

.cssload-loader .cssload-needle:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.5px 49px 3.5px 0;
    border-color: transparent rgb(255,156,0) transparent transparent;
    position: absolute;
    right: 50%;
    top: 50%;
    margin: -3.5px 0 0 0;
    border-radius: 0 50% 50% 0;
        -o-border-radius: 0 50% 50% 0;
        -ms-border-radius: 0 50% 50% 0;
        -webkit-border-radius: 0 50% 50% 0;
        -moz-border-radius: 0 50% 50% 0;
}

.playmarket {
    position: fixed;
    width: 129px;
    height: 45px;
    left: 30px;
    bottom: 30px;
}

@keyframes pegIt {
    0% {
        transform: rotate(0deg);
    }
    16% {
        transform: rotate(75deg);
    }
    25% {
        transform: rotate(55deg);
    }
    30% {
        transform: rotate(90deg);
    }
    36% {
        transform: rotate(170deg);
    }
    42% {
        transform: rotate(150deg);
    }
    50% {
        transform: rotate(227deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-o-keyframes pegIt {
    0% {
        -o-transform: rotate(0deg);
    }
    16% {
        -o-transform: rotate(75deg);
    }
    25% {
        -o-transform: rotate(55deg);
    }
    30% {
        -o-transform: rotate(90deg);
    }
    36% {
        -o-transform: rotate(170deg);
    }
    42% {
        transform: rotate(150deg);
    }
    50% {
        -o-transform: rotate(227deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}

@-ms-keyframes pegIt {
    0% {
        -ms-transform: rotate(0deg);
    }
    16% {
        -ms-transform: rotate(75deg);
    }
    25% {
        -ms-transform: rotate(55deg);
    }
    30% {
        -ms-transform: rotate(90deg);
    }
    36% {
        -ms-transform: rotate(170deg);
    }
    42% {
        transform: rotate(150deg);
    }
    50% {
        -ms-transform: rotate(227deg);
    }
    100% {
        -ms-transform: rotate(0deg);
    }
}

@-webkit-keyframes pegIt {
    0% {
        -webkit-transform: rotate(0deg);
    }
    16% {
        -webkit-transform: rotate(75deg);
    }
    25% {
        -webkit-transform: rotate(55deg);
    }
    30% {
        -webkit-transform: rotate(90deg);
    }
    36% {
        -webkit-transform: rotate(170deg);
    }
    42% {
        transform: rotate(150deg);
    }
    50% {
        -webkit-transform: rotate(227deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes pegIt {
    0% {
        -moz-transform: rotate(0deg);
    }
    16% {
        -moz-transform: rotate(75deg);
    }
    25% {
        -moz-transform: rotate(55deg);
    }
    30% {
        -moz-transform: rotate(90deg);
    }
    36% {
        -moz-transform: rotate(170deg);
    }
    42% {
        transform: rotate(150deg);
    }
    50% {
        -moz-transform: rotate(227deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    .container {
        width: 900px;
    }
    .tabs {
        width: 900px;
    }
    .tabs li {
        width: 20%;
    }
}
@media (max-width: 900px) {
    .container {
        width: 600px;
    }
    .tabs {
        width: 600px;
    }
    .tabs li {
        width: 33.33%;
    }
    .mainLogo .search .search-idea {
        width: 75%;
    }
    .newIdea, .selectedIdea {
        width: 85vw;
    }
}

@media (max-width: 700px) {
    .search {
        display: block;
        padding: 5px;
    }
    .search .left-bar {
        float: left;
        width: 100%;
        /* width: auto; */
        display: block;
    }
    .search .left-bar .search-idea {
        float: right;
        width: 100%;
    }
    .search .right-bar {
        margin-bottom: 5px;
        position: relative;
        float: right;
        width: 100%;
        display: block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .search .right-bar button.logOut {
        height: auto;
    }
    .mainLogo .search .add-idea, .content .search .search-idea {

        width: 100%;
    }
    .content {
        padding: 260px 0 0 0;
    }
}
@media(min-width: 601px) {
    .loginBody {
        background-color: #353d40 ;
        background:  url('../images/background.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
@media (max-width: 600px) {
    .img404 {
        display: none;
    }
    .text404 {
        width: 100%;
    }
    .container {
        width: 320px;
    }
    .tabs {
        width: 290px;
    }
    .content .search {
        padding: 20px;
        box-sizing: border-box;
        height: auto;
    }
    .mainLogo .search .add-idea, .content .search .search-idea {
        -webkit-transform: none;
                transform: none;
        position: static;
        float: none;
    }
    .mainLogo .search .add-idea {
        margin-bottom: 5px;
    }
    .tabs li {
        width: 100%;
    }
    .loginForm, .registerForm{
        width: 100%;
    }
    .regestration {
        width: 90%;
    }
    .newIdea, .selectedIdea {
        width: 90vw;
    }
    .selectedIdeaHeader h2 {
        width: auto;
    }
    .regestration .orange-text,
    .regestration .white-text {
        font-size: 13px;
    }
    .loginBody {
        background-color: #353d40 ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
.userPageContent {
    padding: 50px 0 0 0;
}
