<!DOCTYPE html>
<html lang="ru" ng-app="Thinker">
<head>
	<meta charset="UTF-8">
	<title>Thinker - коллекция идей</title>
	<meta name="Description" content="Thinker- сервис предназначенный для записи и хранения идей и разных мыслей">
	<meta name="Keywords" content="мысли, идеи, заметки, на память, запомнить, записать, важное">
	<link rel="icon" href="">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">	
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<!-- 	<script type="text/javascript" src="js/angular-animate.min.js"></script> -->
	<!-- 	<script type="text/javascript" src="js/bootstrap.min.js"></script> -->
	<!-- 	<script type="text/javascript" src="js/angular-modal-service.min.js"></script> -->
</head>
<body ng-view ng-style="body">
	<div>
		<header>
			<div class="container">
				<a href="main.html">Считаем что пользователь прошел авторизацию(Используя Route)</a>
			</div>
		</header>
		<main>		
			<form class="loginForm" method="post" novalidate>
				<input name="username" type="text" ng-model="username" placeholder="Введите логин" required><br>
				<input name="password" type="password" ng-model="password" placeholder="Введите пароль" required><br>
				<a href="#/registration">Зарегистрироваться</a><br>
				<input class="btn" type="submit" value="ВХОД">
			</form>
		</main>
		<footer>
			<div class="container"></div>
		</footer>
	</div>
	<script>
		var app = angular.module("Thinker", ["ngRoute"]);

		app.controller('loginCtrl', function($scope, $http) {
			// НЕ РАБОТАЕТ ФОН!!!
			$scope.body = {'background-image' : 'url(/images/background.jpg)',
			'background-position' : '50% 50%',
			'background-repeat' : 'no-repeat',
			'background-attachment' : 'fixed',
			'background-color' : '#44575d'};
			// $http.get("#").then(function(response) {
			// 	$scope.userData = response.data.records;
			// });
		});

		app.config(function($routeProvider) {
			$routeProvider
			.when("/", {
				templateUrl : "index.html",
				controller : "loginCtrl"
			})
			.when("/registration", {
				templateUrl : "registration.html",
				controller : "loginCtrl"
			})
			.otherwise({
				redirectTo : "index.html" 		
			});
		});
	</script>
</body>
</html>