<!DOCTYPE html>
<html lang="en" ng-app="Thinker">
<head>
    <meta charset="UTF-8">
    <title>Thinker | Home</title>
    <meta name="Description" content="Thinker - is service designed for recording, storing ideas and different thoughts">
    <meta name="Keywords" content="Thinker, codeart, dataart, мысли, идеи, заметки, на память, запомнить, записать, важное">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/resources/"> -->
    <link rel="icon" href="">
    <!--         <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="controller/userideasCtrl.js"></script>
    <!-- 	<script type="text/javascript" src="js/angular-route.min.js"></script> -->
    <!-- 	<script type="text/javascript" src="js/angular-animate.min.js"></script> -->
    <!-- 	<script type="text/javascript" src="js/bootstrap.min.js"></script> -->
    <!-- 	<script type="text/javascript" src="js/angular-modal-service.min.js"></script> -->
</head>
<body ng-style="body" ng-controller="userideasCtrl">

    <div class="mainLogo"><img src="images/Line_copy.png" alt="Thinker Logo" height="50">
        <div class="search">
            <div class="left-bar">
                <button class="add-idea" ng-click="newIdeaShowF()"><img src="images/plus.png" alt="" /></button>
                <input class="search-idea" type="search" placeholder="Ведите запрос для поиска" name="name" value="">
            </div>
            <div class="right-bar">
                <a href="user.html"><img src="images/avatar.png" width="50" height="50" alt="User"></a>
                <button class="logOut">Log Out</button>
            </div>
        </div>
        <div class="ideas-switcher">
            <a class="all-ideas" href="main.html" type="button" name="button">All Ideas</a>
            <button class="my-ideas active"  name="button">My Ideas</button>
        </div>
    </div>

    <a class="btn" id="BtnForEnter" href="index.html">Возврат на страницу авторизации (Временно)</a>

    <main>
        <div class="content">
            <div class="container">
                <div class="ideas">

                    <ul class="tabs clearfix">
                        <li ng-repeat="x in ideas" class="ideas-grid" ng-click="selectedIdeaShowF(x.ideaId)">
                            <div class="viewout">
                                <img class="" ng-src="http://thinker-codeart.44fs.preview.openshiftapps.com/restapi/ideas/{{x.ideaId}}/{{x.files[0]}}" alt="Small preview"> <!-- надо поправить путь к идеям конкретного пользователя -->
                                <div class="fitback">
                                    <div class="likes"><img src="images/like.png" alt=""><p>100</p></div>
                                    <div class="dislikes"><img src="images/dislike.png" alt=""><p>2</p></div>
                                </div>
                            </div>
                            <p class="top-entry">{{x.description}}</p>
                            <p class="description">{{x.name}}</p>
                        </li>
                    </ul>

                    <div class="btn moreIdeasBtn" ng-show="moreIdeasBtn" ng-click="moreIdeasShowF()">More Ideas</div>

                    <div class="shadow" ng-show="shadowShow" ng-click="shadowClick()"></div>

                    <form ng-show="newIdeaShow" class="newIdea" method="post">
                        <div class="newIdeaHeader clearfix">
                            <h2>Create new <span>think</span></h2>
                            <div type="button" ng-click="close()"></div>
                        </div>
                        <div class="box">
                            <input type="text" placeholder="Name">
                            <textarea name="" id="" cols="0" rows="10" placeholder="Discription"></textarea>
                            <input type="file">
                            <input type="text" placeholder="Tags">
                            <div class="modalBtnBox clearfix">
                                <input class="modalBtn" type="submit" value="Create">
                                <div class="modalBtn" ng-click="close()"><p>Cancel</p></div>                                
                            </div>
                        </div>
                    </form>

                    <div ng-show="selectedIdeaShow" class="selectedIdea">
                        <div class="selectedIdeaHeader clearfix">
                            <h2>{{selectedIdea.description}}</h2>
                            <div type="button" ng-click="close()"></div>
                            <img id="delete" ng-click=(DeleteIdeaF(selectedIdea)) src="images/can3.png" alt="can" height="30" width="30" ng-show="true"> <!-- надо прятать если не принадлежит пользователю -->
                        </div>
                        <div class="box">
                            <ul class="ideaImages clearfix">
                                <li ng-repeat="y in selectedIdea.files">
                                    <img ng-src="http://thinker-codeart.44fs.preview.openshiftapps.com/restapi/ideas/{{x.ideaId}}/{{x.files[$index]}}" alt="Image Preview" height="100" width="100">
                                </li>
                            </ul>
                            <p>{{selectedIdea.name}}</p>
                            <div class="tagsRow clearfix">
                                <p class="ideaTags" ng-repeat="tag in selectedIdea.tags">{{selectedIdea.tags[$index]}}&nbsp;</p>
                            </div>
                            <div class="ideaOwner">Author: <span>{{selectedIdea.author.username}}</span></div>
                            <div class="fitback">
                                <a class="likes"><img src="images/like.png" alt=""><p>100</p></a>
                                <a class="dislikes"><img src="images/dislike.png" alt=""><p>2</p></a>
                            </div>
                            <div class="ideaComments">
                                <h3>Комментарии</h3>
                                <span class="comment">
                                    <img src="" alt="" height="50" width="50" alt="Avatar">
                                    <p>Автор</p>
                                    <p>Текст по поводу и без</p>
                                </span>
                            </div>                  
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

<!--     <footer class="mainFooter">
<div class="container"></div>
</footer> -->


</body>
</html>
